SECRET_KEY=cambiar-en-produccion
DEBUG=True
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=sw1_proyecto_grupal_db
SUPABASE_URL=https://flbciklzqhnpzmvzbius.supabase.co
SUPABASE_JWT_SECRET=cambiar-con-jwt-secret-de-supabase
SUPABASE_SECRET_KEY=cambiar-con-secret-key-de-supabase
CORS_ALLOWED_ORIGINS=http://localhost:5173
